{% extends "base.html" %}

{% block content %}
<section class="hero-puzzle position-relative d-flex flex-column justify-content-center align-items-center min-vh-100 overflow-hidden">
    
    <div class="puzzle-container" id="puzzleContainer"></div>

    <div class="hero-intro-text" id="heroIntroText">
        <p>
            <strong><span class="ops-initial">O</span>pificio <span class="ops-initial">P</span>otenziale <span class="ops-initial">S</span>emantico</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's <strong>standard dummy text</strong> ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with <strong>desktop publishing software</strong> like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <div class="text-center mt-4">
            <a href="/corpus" class="btn btn-primary">Esplora</a>
        </div>
    </div>

    <script id="puzzle-config" type="application/json">{"word": "OPS!"}</script>
    <script src="{{ url_for('static', filename='js/puzzle.js') }}"></script>
</section>
{% endblock %}